% setdefault('napaka', '')
% setdefault('naslov', '')
% rebase('base.html', napaka=napaka, naslov=naslov)

<h1>About Us Page</h1>
<p>Some text about who we are and what we do.</p>


<h2>Our Team</h2>


<h2>Vito Rozman</h2>
<p>CEO & Founder</p>
<p>Some text that describes me lorem ipsum ipsum lorem.</p>
<p>vito@example.com</p>
<p><button >Contact</button></p>


<h2>Rok Rozman</h2>
<p>CEO & Founder</p>
<p>Some text that describes me lorem ipsum ipsum lorem.</p>
<p>rok@example.com</p>
<p><button>Contact</button></p>



<h2>Matej Rojec</h2>
<p>Designer :)</p>
<p>Some text that describes me lorem ipsum ipsum lorem.</p>
<p>matej@example.com</p>
<p><button>Contact</button></p>
