% setdefault('napaka', '')
% setdefault('naslov', '')
% setdefault('znacka', 0)
% rebase('base.html', napaka=napaka, naslov=naslov)

<h1>About Us Page</h1>
<p>Some text about who we are and what we do.
    Te zanima stanje tvojega celotnega crypto prortfelja? <br>
    Si na pravi strani!
</p>

<h2>Our Team</h2>

<div class="container" style="margin: auto;">
    <div class="row">
        <div class="col-lg-4 mb-4">

            <div class="card" style="width: 20rem; height: 20rem;" >
                <img src="{{url('static', filename= '/img/profil.jpg')}}" class="card-img-top" alt="Slika">  
                <div class="card-body">
                    <h5 class="card-title">Vito Rozman</h5>
                    <h6 class="card-subtitle mb-2 text-muted">CEO & Founder & CTO</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="mailto:rozman.vito@gmail.com" target="_blank" class="btn btn-outline-dark">Email</a>
                    <a href="https://github.com/vitorozman" class="btn btn-outline-dark">GitHub</a>
                </div>     
            </div>
        </div>

        <div class="col-lg-4 mb-4">
            <div class="card" style="width: 20rem; height: 20rem;" >
                <img src="{{url('static', filename= '/img/profil.jpg')}}" class="card-img-top" alt="Slika">
                <div class="card-body">
                    <h5 class="card-title">Rok Rozman</h5>
                    <h6 class="card-subtitle mb-2 text-muted">CEO & Founder & CFO</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="mailto:rok.rozman99@gmail.com" target="_blank" class="btn btn-outline-dark">Email</a>
                    <a href="https://github.com/rokrozman" class="btn btn-outline-dark">GitHub</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-4">
            <div class="card" style="width: 20rem; height: 20rem;" >
                <img src="{{url('static', filename= '/img/profil.jpg')}}" class="card-img-top" alt="Slika">
                <div class="card-body">
                    <h5 class="card-title">Matej Rojec</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Marketing manager & SQL stručko</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="mailto:matej.4001@gmail.com" target="_blank" class="btn btn-outline-dark">Email</a>
                    <a href="https://github.com/MatejRojec" class="btn btn-outline-dark">GitHub</a>
                </div>
            </div>
        </div>
    </div>
</div>







