% setdefault('napaka', '')
% setdefault('naslov', '')
% setdefault('znacka', 0)
% rebase('base.html', napaka=napaka, naslov=naslov)

<br>
<div class="container" >
    <div class="container bg-dark border border-white rounded p-3 m-3">
        <div class="row p-3">
            <h4>
                Opis in delovanje platforme
            </h4>
            <p>
                Gamma je beleženik vseh kripto sredstev, ki jih poseduje uporabnik (AUM). Ko se uporabnik registrera dobi "Gamma" račun, <br>
                kjer ima možnost povezati svoje denarnice, odprte na različnih borzah. Skupno stanje se posodablja s trenutnimi deviznimi tečaji. <br>
                Ko se uporabnik odloči za investicijo (ali katero koli drugo spremebo v denarnici), to ročno spremeni in vnese potrebne <br>
                informacije za spremembo. Tako se mu stanje posodobi in mu omogoča pregled in vrednost celotnega portfelja.
            </p>
        </div>
        <div class="row p-3">
            <h4>
                Poslovanje
            </h4>
            <p>
                Beležnica Gamma je skupaj zabeležila 205,3 milijona evrov dobička po davkih in povečala tržne deleže v vseh segmentih poslovanja. <br>
                Poslovanje Gamme  je v vzponu, zaradi bikovega trga, zato se pričakuje, da se bo v prihodnosti število strank eksponentno povečalo.
            </p>    
        </div>
    </div>
    <div class="row p-4">
        <h2>
            Ekipa
        </h2>
    </div>
    <div class="row justify-content-md-center p-3">
        <div class="col d-flex justify-content-center">
            <div class="card  bg-dark text-white" style="width: 8cm; height: 14cm;" >
                <img src="{{url('static', filename= '/img/profil.jpg')}}" class="card-img-top" alt="Slika">  
                <div class="card-body">
                    <h5 class="card-title">Vito Rozman</h5>
                    <h6 class="card-subtitle mb-2">CEO & Co-Founder & CTO</h6>
                    <p class="card-text">Odgovoren za nadzor razvoja in tehnologijo za stranke, da bi pomagal izboljšati in povečati poslovanje.</p>
                    <a href="mailto:rozman.vito@gmail.com" target="_blank" class="btn btn-outline-light">Email</a>
                    <a href="https://github.com/vitorozman" class="btn btn-outline-light">GitHub</a>
                </div>     
            </div>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="card  bg-dark text-white" style="width: 8cm; height: 14cm;" >
                <img src="{{url('static', filename= '/img/profil.jpg')}}" class="card-img-top" alt="Slika">
                <div class="card-body">
                    <h5 class="card-title">Rok Rozman</h5>
                    <h6 class="card-subtitle mb-2">CEO & Co-Founder & CFO</h6>
                    <p class="card-text">Odgovoren za vodenje finančnih dejavnosti podjetja, ter analizo denarnih tokov.</p>
                    <a href="mailto:rok.rozman99@gmail.com" target="_blank" class="btn btn-outline-light">Email</a>
                    <a href="https://github.com/rokrozman" class="btn btn-outline-light">GitHub</a>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="card  bg-dark text-white" style="width: 8cm; height: 14cm;" >
                <img src="{{url('static', filename= '/img/profil.jpg')}}" class="card-img-top" alt="Slika">
                <div class="card-body">
                    <h5 class="card-title">Matej Rojec</h5>
                    <h6 class="card-subtitle mb-2">COO & Co-Founder & CCO</h6>
                    <p class="card-text">Odgovoren za stranke, interakcije s potrošniki in uvajanje izdelkov za doseganje strateških ciljev.</p>
                    <a href="mailto:matej.4001@gmail.com" target="_blank" class="btn btn-outline-light">Email</a>
                    <a href="https://github.com/MatejRojec" class="btn btn-outline-light">GitHub</a>
                </div>
            </div>
        </div>
    </div>
</div>

