% setdefault('napaka', '')
% setdefault('naslov', '')
% rebase('base.html', napaka=napaka, naslov=naslov)


Tu bomo imeli malo info o crypto npr.sprememba cen kovancev v nekem obdobju

<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>

<canvas id="myChart" style="width:100%;max-width:700px"></canvas>


<script>
    var xValues = ['1.5.2022','2.5.2022','3.5.2022','4.5.2022','5.5.2022','6.5.2022','7.5.2022','8.5.2022','9.5.2022','10.5.2022','11.5.2022','12.5.2022','13.5.2022','14.5.2022','15.5.2022','16.5.2022','17.5.2022','18.5.2022','19.5.2022','20.5.2022'];
    var yValues = [7,8,8,9,9,9,10,11,14,12,7,5,4,6,7,9,10,11,14,12];
    
    new Chart("myChart", {
      type: "line",
      data: {
        labels: xValues,
        datasets: [{
          fill: false,
          lineTension: 0,
          backgroundColor: "rgba(0,0,255,1.0)",
          borderColor: "rgba(0,0,255,0.1)",
          data: yValues
        }]
      },
      options: {
        legend: {display: false},
        scales: {
          yAxes: [{ticks: {min: 1, max:16}}],
        }
      }
    });
</script>