% setdefault('napaka', '')
% setdefault('naslov', '')
% rebase('base.html', napaka=napaka, naslov=naslov)


Tu bomo imeli malo info o crypto npr.sprememba cen kovancev v nekem obdobju

<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>

<canvas id="myChart" style="width:100%;max-width:700px"></canvas>




<script>
    var xValues1 = "{{sez}}";
    var xValues = xValues1.split(",");
    var yValues = [7,8,8,9,9,9,10,11,14,12,7,5,4,6,7,9,10,11,14,12];
    
    new Chart("myChart", {
      type: "line",
      data: {
        labels: xValues,
        datasets: [{
          fill: false,
          lineTension: 0,
          backgroundColor: "rgba(0,0,255,1.0)",
          borderColor: "rgba(0,0,255,0.1)",
          data: yValues
        }]
      },
      options: {
        legend: {display: false},
        scales: {
          yAxes: [{ticks: {min: 1, max:16}}],
        }
      }
    });
</script>