% setdefault('napaka', '')
% setdefault('naslov', 'Prijava')
% rebase('base.html', napaka=napaka, naslov=naslov)



<form action="{{url('prijava_post')}}" method="post" 
style=" margin: auto; margin-top: 40px; width: 20%; ">

<!-- za pozicijo -->


        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name='email' />
            <label for="floatingInput">Elektronski naslov</label>
        </div>
        <br>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name='geslo'/>
            <label for="floatingPassword">Geslo</label>
        </div>
        <br>
        <button type="submit" class="btn btn-outline-dark d-grid gap-2 col-6 mx-auto">
            Prijava
        </button>

</form>

