% setdefault('napaka', '')
% setdefault('naslov', 'Transakcija')
% rebase('base.html', napaka=napaka, naslov=naslov)
<script>
    function myFunction() { 
        var kolicina = document.getElementById("kolicina").value;
        var iz_valute = document.getElementById("iz_valute").value;

        var izpis = "Tu bodo informacije o narejeni transakciji";
        confirm(kolicina);
    }
</script>


<form action="{{url('transkacija_post', borza=borza[1])}}" method="post">
    <table>
        
        <tr>
            <th><label for="kolicina">Kolicina:</label></th>
            <th><label for="iz_valuta">Vaulta &rarr;</label></th>
            <th><label for="v_valuto">V vaulto:</label></th>
            <th><label for="datum">Datum transakcije:</label></th>
        </tr>
        <tr>
            <th>
                <input id="kolicina" name="kolicina" type="number" required
                oninput="this.setCustomValidity('')"
                oninvalid="this.setCustomValidity('Obvezno polje')"
                />
            </th>
            <th>
                <select id="iz_valute" name="iz_valute">
                    %for valuta in valute:
                    <option value='{{valuta[0]}}'>{{valuta[0]}}</option>
                    %end
                </select>
            </th>
            <th>
                <select name="v_valuto" id="v_valuto">
                    %for valuta in valute:
                    <option value='{{valuta[0]}}'>{{valuta[0]}}</option>
                    %end
                </select>
            </th>
            <th>
                <input type="date" id="datum" name="datum_transakcije"
                value="{{datum}}"
                min="2010-01-01" max="{{datum}}">
                <br>
            </th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th><button value='{{borza[0]}}' name='id_borze' type="submit" onclick="myFunction()">Zabeleži transakcijo</button></th>
        </tr>    
    </table>
</form>




<br>


<form action="{{url('depwith_post', borza_id=borza[0])}}" method="post">

<details>
    <summary><b>Depozit</b></summary>
    
    <table>
        <tr>
            <th>Valuta</th>
            <th>Kolicina</th>
            <th>Datum</th>
        </tr>
        <tr>
            <th>
                <select id="valuta" name="valuta">
                    %for valuta in valute:
                    <option value='{{valuta[0]}}'>{{valuta[0]}}</option>
                    %end
                </select>
            </th>
            <th><input id="kolicina" name="kolicina" type="number" required
                oninput="this.setCustomValidity('')"
                oninvalid="this.setCustomValidity('Obvezno polje')"/></th>
            <th>
                <input type="date" id="datum" name="datum"
                value="{{datum}}"
                min="2010-01-01" max="{{datum}}">
                <br>
            </th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th><button value="D" name='narocilo' type="submit">D</button></th>
        </tr>

    </table>
</details>
</form>


<form action="{{url('depwith_post', borza_id=borza[0])}}" method="post">

<details>
    <summary><b>Withdrawal</b></summary>

    <table>
        <tr>
            <th>Valuta</th>
            <th>Kolicina</th>
            <th>Datum</th>
        </tr>
        <tr>
            <th>
                <select id="valuta" name="valuta">
                    %for valuta in valute:
                    <option value='{{valuta[0]}}'>{{valuta[0]}}</option>
                    %end
                </select>
            </th>
            <th><input id="kolicina" name="kolicina" type="number" required
                oninput="this.setCustomValidity('')"
                oninvalid="this.setCustomValidity('Obvezno polje')"/></th>
            <th>
                <input type="date" id="datum" name="datum"
                value="{{datum}}"
                min="2010-01-01" max="{{datum}}">
                <br>
            </th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th><button value="W" name='narocilo' type="submit">W</button></th>
        </tr>

    </table>
</details>
</form>

